.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

}

.addItemField {
    width: 100%;

}

.private {
    text-align: left;
    margin: 10px 0 20px 0;
    margin-left: -10px;
}

.buttonsBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.one{
    background: #FCFCFC!important;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3) !important;
    border-radius: 30px!important;
    padding: 7px 27px!important;
    letter-spacing: 1px!important;
    color: #000000!important;
    opacity: 0.6!important;
    font-weight: bold!important;
}
.two{
    background: #7b1fa2!important;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3)!important;
    border-radius: 30px!important;
    padding: 7px 35px!important;
    letter-spacing: 1px!important;
}
.coverText{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.coverImg{
   text-align: center;
}
